<!DOCTYPE html>
<html lang="zh-hans" ng-app="demo.shop">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>cart</title>
    <link href="../libs/ionic/css/ionic.css" rel="stylesheet">
    <style>
        .box span {
            display: inline-block;
            width:30px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            background-color: gainsboro;
            border-radius: 3px;

        }

        .box input {
            width:30px;
            height: 18px;
            border:1px solid darkgray;
        }
    </style>

</head>
<body ng-controller="cartController">

<header class="bar bar-header bar-assertive">
    <a class="title">购物车</a>
    <a class="button button-clear">结算</a>
</header>
<header class="bar bar-subheader bar-dark">
    <a class="title">
        商品数量: {{totalQul}}  应付金额: {{totalMoney}}
    </a>
</header>
<section class="scroll scroll-content has-header has-footer has-subheader">
  <div class="list">
      <div ng-repeat="n in cartList" class="item item-thumbnail-left item-text-wrap item-icon-right">
          <img ng-src="{{n.pic}}">
          <p>{{n.title}}</p>
          <p>单价: {{n.price}}￥ </p>
          <p class="box">数量: <span ng-click="addQuq($index)">+</span>
              <span><input type="number" ng-model="n.quality"></span>
              <span ng-click="subQuq($index)">-</span></p>
          <i ng-click="remCart($index)" class="icon ion-ios-trash" style="font-size: 20px"></i>
      </div>
  </div>
</section>
<footer class="tabs tabs-icon-top tabs-dark">
    <div class="tab-item">
        <i class="icon ion-ios-home"></i>
        首页
    </div>
    <div class="tab-item">
        <i class="icon ion-ios-book"></i>
        分类
    </div>
    <div class="tab-item has-badge">
        <i class="icon ion-ios-cart"></i>
        <i class="badge bar-assertive">{{totalQul}}</i>
        购物车
    </div>
    <div class="tab-item">
        <i class="icon ion-ios-alarm"></i>
        我的
    </div>
    <div class="tab-item">
        <i class="icon ion-ios-bell"></i>
        更多
    </div>
</footer>


<script src="../libs/ionic/js/ionic.bundle.js"></script>
<script src="app/services/demo.shop.services.js"></script>
<script src="app/controllers/demo.shop.controllers.js"></script>
<script src="app/app.js"></script>

</body>
</html>